/*
Input and search button styling
*/

body {
    background-color: rgb(216, 216, 216);
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: rgb(255, 226, 62);

}

.center {
    text-align: center;
    font-weight: bold;
    color: rgb(105, 20, 20);
    text-shadow: -2px 2px rgb(255, 226, 62);
}

.button {
    padding: .80em 1em
}

/*
Header styling
*/

.callout {
    background-image: url("https://www.sidel.com/cgi-bin/categories/top-beer.jpg");
    background-size: 100vw;
    background-position: center;
}

.title {
    font-weight: bolder;
    text-shadow:  0 3px 5px WHITE;
}

.subheader {
    color: black;
}

/*
Form styling
*/

.newsletter-subscribe {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 1rem;
    justify-content: center;
  }
  
.newsletter-subscribe {

    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-transform: translateX(0.5rem);
        -ms-transform: translateX(0.5rem);
            transform: translateX(0.5rem);
  }

.input-group-field {
    border-radius: 5000px 0 0 5000px;
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-transform: translateX(0.5rem);
        -ms-transform: translateX(0.5rem);
            transform: translateX(0.5rem);
}
  
.newsletter-subscribe .input-group {
    margin-bottom: 0;
  }
  
.newsletter-subscribe .newsletter-subscribe-inner {
    text-align: center;
    background-color: rgb(231, 162, 14);
    border-radius: 4px 4px 4px 4px;
    box-shadow: -3px 3px gray;
    margin: 3%;
  }
  
.newsletter-subscribe .input-group-button .button {
    border-radius: 5000px;
    background-color: rgb(255, 226, 62);
    color: black;
    position: relative;
    -webkit-transform: translateX(-0.5rem);
        -ms-transform: translateX(-0.5rem);
            transform: translateX(-0.5rem);
    min-width: 25px;
  }
  
@media print, screen and (min-width: 40em) {
    .newsletter-subscribe {
      padding: 0 3rem;
    }
  }
  
@media print, screen and (min-width: 64em) {
    .newsletter-subscribe {
      padding: 0 6rem;
    }
  }


/*
card styling
*/


.card {
    width: 350px;
  }
  
  .card-info {
    padding: 1rem;
    display: -ms-grid;
    display: block;
    background-color: rgb(255, 226, 62);
    color: rgb(105, 20, 20);
    border-radius: 4px 4px 4px 4px;
    box-shadow: -3px 3px gray;
    margin: 3%;

    -ms-grid-rows: 1fr 2.5rem;
        grid-template-rows: 1fr 2.5rem;
    -ms-grid-columns: 3fr 1fr;
        grid-template-columns: 3fr 1fr;
  }

.card-location {
    color: rgb(105, 20, 20)
}
/* making the results cards have reverse colors (added a different version of card style) */
  .card-info2 {
    padding: 1rem;
    display: -ms-grid;
    display: block;
    background-color: rgb(105, 20, 20);
    color: rgb(255, 226, 62);
    border-radius: 4px 4px 4px 4px;
    box-shadow: -3px 3px gray;
    margin: 3%;

    -ms-grid-rows: 1fr 2.5rem;
        grid-template-rows: 1fr 2.5rem;
    -ms-grid-columns: 3fr 1fr;
        grid-template-columns: 3fr 1fr;
  }
  
  .card-title {
    font-size: 25px;
    font-weight: bold;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
  
  .card-icon {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: right;
    width: 30px;
    height: 30px;
    background-color: LightBlue;
    border-radius: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-column-align: center;
        justify-items: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .card-author {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    -webkit-align-self: bottom;
        -ms-flex-item-align: bottom;
                -ms-grid-row-align: bottom;
            align-self: bottom;
  }
  
  .card-stats {
    -webkit-align-self: bottom;
        -ms-flex-item-align: bottom;
                -ms-grid-row-align: bottom;
            align-self: bottom;
    justify-self: right;
  }

  /* results columns */

  
#right {
    width: 50%;
    float: right;
}
  
#left {
    width: 50%;
    float: left;
}
  