/*
Input and search button styling
*/
.newsletter-subscribe {
    background: #fefefe;
    height: 200px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 1rem;
    justify-content: center;
  }
  
.newsletter-subscribe .input-group-field {
    border-radius: 5000px 0 0 5000px;
    position: relative;
    -webkit-transform: translateX(0.5rem);
        -ms-transform: translateX(0.5rem);
            transform: translateX(0.5rem);
  }
  
.newsletter-subscribe .input-group {
    margin-bottom: 0;
  }
  
.newsletter-subscribe .newsletter-subscribe-inner {
    text-align: center;
  }
  
.newsletter-subscribe .input-group-button .button {
    border-radius: 5000px;
    position: relative;
    -webkit-transform: translateX(-0.5rem);
        -ms-transform: translateX(-0.5rem);
            transform: translateX(-0.5rem);
    min-width: 25px;
  }
  
@media print, screen and (min-width: 40em) {
    .newsletter-subscribe {
      padding: 0 3rem;
    }
  }
  
@media print, screen and (min-width: 64em) {
    .newsletter-subscribe {
      padding: 0 6rem;
    }
  }
  
  
  